@()

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PasEncore</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,600,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/vendors/font-awesome-4.0.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/assets/vendors/semantic/packaged/css/semantic.min.css" />
  <link rel="stylesheet" href="/assets/bundle.css" />
  <script src="/assets/RecordRTC.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <div id="wrapper">
    

    <div class="ui menu">
      <a class="item" href="/questions"><i class="large question icon"></i> Questions</a>
      <a class="item" href="/replies"><i class="large chat outline icon"></i> Replies</a>
        <a class="item" href="/" style="padding-left: 30%"><i class="time large icon"></i> PasEncore</a>
      <div class="right menu">
        <a class="item">Login</a>
        <a class="item">Sign Up</a>
      </div>
    </div>

    <!-- Questions list -->
    <h1 align=center class="help-title">Click on a question to record an answer</h1>
    <div class=" questions" style="width: 1040px; margin: 0 auto;">
        <div class="user-question" data-id="0">
            <div class="question-quote">
                <i class="mini quote left icon" ></i>
            </div>
            
          <div class="content">
            An excellent companion An excellent companion An excellent companion An excellent companion An excellent companion
          </div>
          
        </div>
        <div class="user-question" data-id="1">
            <div class="question-quote">
                <i class="mini quote left icon" ></i>
            </div>
          <div class="content">
            A poodle, its pretty basic ?
          </div>
        </div>

        <div class="user-question" data-id="2">
        <div class="question-quote">
            <i class="mini quote left icon" ></i>
        </div>
        <div class="content">
          A poodle, its pretty basic ?
        </div>
      </div>
      <div class="user-question" data-id="3">
        <div class="question-quote">
            <i class="mini quote left icon" ></i>
        </div>
        <div class="content">
          He's also a dog, hey, hey ? ??
        </div>
      </div>
      <div class="add-question button purple ui">
        <a class="content" href="@routes.Application.newQuestion()">
          <i class="large add icon"></i> POST NEW QUESTION
        </a>
      </div>
      </div>


      
    </div>

    <!-- Reply modal -->
    <div class="ui basic modal" style="text-align: center;">
      <i class="close icon"></i>
      <h1 class="help-title">
        Record Answer
      </h1>
      <div class="content">
        <div class="center" style="text-align: center;">
          <video id="webcamFeedback" autoplay style="height: 320px"></video>
          <div class="recording">
            <div id="record" class="ui button"><i class="red circle icon"></i> Record</div>
            <div id="stop" class="ui red button" style="display:none">Stop</div>
          </div>
          <div class="submitting" style="display:none">
            <div id="submit" class="ui green button">Submit</div>
            <div id="cancel" class="ui red button">Cancel</div>
          </div>
        </div>
    </div>


  </div>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="/assets/vendors/semantic/packaged/javascript/semantic.min.js"></script>
    <script src="/assets/bundle.js"></script>
</body>
</html>

