@(user: Option[models.User])

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PasEncore</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,600,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/vendors/font-awesome-4.0.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/assets/vendors/semantic/packaged/css/semantic.min.css" />
  <link rel="stylesheet" href="/assets/bundle.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
  <div id="wrapper">
    

    <div class="ui menu">
      <a class="item" href="/"><i class="large question icon"></i> Questions</a>
      <a class="item" href="/replies"><i class="large chat outline icon"></i> Replies</a>
      <a class="item" href="/" style="padding-left: 30.6%; font-size:21px; color: #564F8A">PasEncore</a>
      <div class="right menu">
        @user.map { u =>
            <a class="item">Welcome, <b>@u.name</b></ap>
            <a class="item" href="/logout">Logout</a>
        }.getOrElse {
            <a class="item" href="/login">Login</a>
            <a class="item">Sign Up</a>
        }
      </div>
    </div>

    <h1 align=center class="help-title">Post a question</h1>
    <div class="new-question-form">
      <div class="ui form">
        <div class="two fields">
          <div class="field">
            <label>Delay (in months)</label>
            <input placeholder="eg. 3" type="text" id="delay-input">
          </div>
          <div class="field">
            <label>Specific Date</label>
            <input type="date" id="specificdate-input">
          </div>
        </div>
        <div class="inline field">
          <label>Question</label>
          <textarea id="question-input"></textarea>
        </div>
        <div class="ui purple submit button" onclick="submitQuestion()" style="display:block"> <i class="large legal icon"></i> Submit</div>
      </div>
    </div>

    <script>
      function submitQuestion() {
        var delay         = $("#delay-input").val(),
            specificdate  = $("#specificdate-input").val(),
            question      = $("#question-input").val(),
            url           = "/api/questions",
            data          = {
              text: question,
              delay: parseInt(delay),
              closed: specificdate,
              idUser: 1
            };

            if(specificdate === "") {
              delete data.closed;
            }

            if(delay === "") {
              delete data.delay;
            }

        $.ajax({
          type: "POST",
          url: url,
          data: JSON.stringify(data),
          success: function(success) {
            window.location = "/";
          },
          contentType:"application/json; charset=utf-8",
          dataType: "json"
        });

      }
    </script>

  </div>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="/assets/vendors/semantic/packaged/javascript/semantic.min.js"></script>
    <script src="/assets/bundle.js"></script>
</body>
</html>

