// @import file

/* TODO */

body
    font-family 'Raleway', sans-serif


.user-question, .add-question
    border 1px solid whitesmoke
    margin-bottom 20px
    overflow auto

.user-question:hover
    background black
    color white
    cursor pointer

.add-question:hover
    cursor pointer
    opacity 0.7

.add-question
    a
        color white
        text-decoration none


.content
    float left
    width 89%
    padding 20px

.help-title
    font-weight normal
    text-transform uppercase
    margin 50px 0 50px 0

.ui.basic.modal.visible
    margin-top -300px !important

.new-question-form
    width 1040px
    margin 0 auto
