// @import file

/* TODO */

body
    font-family 'Raleway', sans-serif
    background-color whitesmoke


.user-question, .add-question
    background-color white
    border 1px solid rgba(0, 0, 0, 0.1)
    margin-bottom 20px
    overflow auto

.user-question
    transition .2s

.user-question:hover
    background gray
    color white
    cursor pointer

.add-question:hover
    cursor pointer

.add-question
    background #564F8A
    color white
    padding 0 !important
    display block !important
    a
        color white
        text-decoration none
.question-quote
    float left
    margin-top 1.6%
    margin-left 20px

.content
    float left
    width 89%
    padding 20px

.help-title
    font-weight normal
    text-transform uppercase
    margin 50px 0 50px 0

.ui.basic.modal.visible
    margin-top -300px !important

.new-question-form
    width 1040px
    margin 0 auto
